#fondo {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(/fondo.jpg);

  background-position: center;
  background-size: cover;
}

#card {
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8));
}

#blur {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6));
  backdrop-filter: blur(8px);
  height: 100vh;
}

#fondo2 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(/fondo2.jpg);
  background-position: center;
  background-size: cover;
}

#negritas {
  font-weight: bolder !important;
}

#titulo {
  font-weight: bolder !important;
  background: -webkit-linear-gradient(#537be9, #a662c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
